@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.container {
  background-color: #24053e;
  font-family: "manrope", sans-serif;
  justify-content: space-between;
  padding: 32px 20px 0px 20px;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  justify-content: space-between;
}

.bottom-green {
  border-bottom: 3px solid #44ffa1;
}

.main {
  background-color: rgba(36, 5, 62, 1);
  padding: 56px 20px 144px 20px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-bottom-left-radius: 50% 13%;
  border-bottom-right-radius: 50% 13%;
}

.img-pattern {
  display: none;
}

.title-main {
  font-family: "Fraunces", sans-serif;
  font-weight: 600;
  font-size: 56px;
  margin-bottom: 28px;
  text-align: center;
}

.button-main {
  font-family: "Manrope", sans-serif;
  background-color: rgba(68, 255, 161, 1);
  color: #0b0223;
  cursor: pointer;
  width: 151px;
  height: 56px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-main {
  position: relative;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 360px;
}

.section {
  color: rgba(36, 5, 62, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  gap: 20px;
}

.item-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number-section {
  color: rgba(88, 77, 98, 1);
  border: 1px solid rgba(88, 77, 98, 1);
  width: 48px;
  height: 48px;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "fraunces", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.title-section {
  color: rgba(36, 5, 62, 1);
  font-family: "Fraunces", sans-serif;
  font-weight: 600;
}

.text-section {
  color: rgba(36, 5, 62, 1);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  gap: 16px;
}

.cta {
  margin: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 20px 20px 8px;
  gap: 8px;
}

.cta-content {
  background-color: rgba(36, 5, 62, 1);
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.cta-title {
  font-family: "fraunces", sans-serif;
  font-weight: 600;
}

.cta-text {
  font-family: "manrope", sans-serif;
  text-align: center;
  margin: 10px 10px 38px 0;
}

.cta-button {
  font-family: "Manrope", sans-serif;
  background-color: rgba(68, 255, 161, 1);
  color: #0b0223;
  cursor: pointer;
  width: 151px;
  height: 53px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  padding: 6px 16px 6px 16px;
  align-items: center;
  justify-content: center;
}

.cta-img {
  position: relative;
  transform: translateX(-50%);
  transform: translateY(20%);
  width: 330px;
}

footer {
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.footer-icons {
  display: flex;
  gap: 28px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------- DESKTOP -------- */
@media (min-width: 1024px) {
  .img-main {
    position: relative;
    bottom: 80px;
    left: 50%;
    transform: translateX(-55%);
    width: 560px;
  }
  .img-pattern {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
  }
  .img-pattern img {
    width: 200px;
  }

  .section {
    display: flex;
    flex-direction: row;
  }

  .cta {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px; /* ajusta se quiser mais separação */
  }

  .cta-img {
    width: 340px;
    transform: translateX(0) translateY(0);
    margin-right: -80px; /* aproxima a imagem da caixa */
    z-index: 2;
  }

  .cta-content {
    align-items: flex-start;
    text-align: left;
    padding: 48px;
    width: 420px; /* largura igual da imagem para harmonizar */
    border-radius: 8px;
  }

  .cta-text {
    text-align: left;
    margin: 12px 0 32px 0;
  }
}